{{/* 
    Usage: {{ partial "icon.html" (dict "name" "hero/outline/star" "class" "h-6 w-6") }}
    Supports:
      - hero/outline/<name>
      - hero/solid/<name>
      - brands/<name>
      - academicons/<name>
      - plain "<name>" → defaults to hero/outline/<name>
  */}}
  
  {{- $name := .name | default "" -}}
  {{- $class := .class | default "h-6 w-6" -}}
  {{- $svg := nil -}}
  
  {{- if not $name -}}
    <span class="{{ $class }}" aria-hidden="true">⬜</span>
  {{- else -}}
    {{- $norm := $name -}}
    {{- if not (or (hasPrefix $norm "hero/") (hasPrefix $norm "brands/") (hasPrefix $norm "academicons/")) -}}
      {{- $norm = printf "hero/outline/%s" $norm -}}
    {{- end -}}
  
    {{/* 1) 로컬 자산 우선 */}}
    {{- $svg = resources.Get (printf "media/icons/%s.svg" $norm) -}}
  
    {{/* 2) 모듈 자산에서도 다시 시도 (로컬에 없을 때) */}}
    {{- if not $svg -}}
      {{- range site.Assets -}}
        {{- $try := .Get (printf "media/icons/%s.svg" $norm) -}}
        {{- if and (not $svg) $try -}}
          {{- $svg = $try -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  
    {{- if $svg -}}
      <span class="{{ $class }} inline-block align-middle" aria-hidden="true">
        {{ $svg.Content | safeHTML }}
      </span>
    {{- else -}}
      {{/* 찾지 못하면 가시적으로 보이게 네모 fallback */}}
      <span class="{{ $class }}" aria-hidden="true">⬜</span>
    {{- end -}}
  {{- end -}}
  